/* Start variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #078af5;
    --secendry-color: #d5d5d5; 
    --main-background: #ececec;
    --main-background-hover: #e4e4e4;
    --main-transition: 0.3s;
    --main-padding: 100px;
}
/* End variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End global rules */

/* Start components */
.main-title {
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    position: relative;
    transition: var(--main-transition);
    z-index: 1;
    font-size: 30px;
}
.main-title:hover {
    color: white;
    border-color: white;
    transition-delay: .2s;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute; 
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
    z-index: -1;
}
.main-title::before {
    left: -28px;
}
.main-title::after {
    right: -28px;
}
.main-title:hover::before {
    animation: left-move 0.5s forwards;
}
.main-title:hover::after {
    animation: right-move 0.5s forwards;
}

.dots {
    background-image: url(../imgs/dots.png);
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots.dots-up {
    top: 200px;
    right: 0;
}
.dots.dots-down {
    bottom: 200px;
    left: 0;
}

.spikes {
    position: relative;
}
.spikes::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(232deg, white 25%, transparent 25%);
    background-size: 25px 100%;
    width: 100%;
    height: 30px;
    right: 0;
    top: 100%;
    z-index: 1;
}
/* End components */

/* Start Header */
header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}
header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (max-width: 767px) {
    header .container {
        justify-content: center;
    }
}
header .container .logo {
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    font-weight: bold;
    font-size: 26px;
}
@media (max-width: 767px) {
    header .container .logo {
        width: 100%;
        height: 50px;
    }
}
header .container .main-nav {
    display: flex;
}
header .container .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    height: 72px;
    font-size: 18px;
    padding: 0 30px;
    overflow: hidden;
    transition: background-color var(--main-transition);
}
@media (max-width: 767px) {
    header .container .main-nav > li > a {
        font-size: 14px;
        height: 40px;
        padding: 10px;
    }
}
header .container .main-nav > li > a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: left var(--main-transition);
}
header .container .main-nav > li > a:hover::before {
    left: 0;
}
header .container .main-nav > li > a:hover {
    background-color: #fafafa;
}
header .container .main-nav > li:last-child .mega-menu {
    display: none;
    position: absolute;
    padding: 30px;
    left: 0;
    top: calc(100% + 30px);
    background-color: white;
    z-index: -10;
    gap: 40px;
    width: 100%;
    border-bottom: 4px solid var(--main-color);
    transition: z-index var(--main-transition), top var(--main-transition);
}
@media (max-width: 767px) {
    header .container .main-nav > li:last-child .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}
header .container .main-nav > li:last-child .mega-menu.active {
    display: flex;
    z-index: 10;
    top: calc(100% + 1px);
}
header .container .main-nav > li:last-child .mega-menu img {
    max-width: 100%;
}
@media (max-width: 991px) {
    header .container .main-nav > li:last-child .mega-menu .image {
        display: none;
    }
}
header .container .main-nav > li:last-child .mega-menu .links {
    flex: 1;
}
header .container .main-nav > li:last-child .mega-menu .links li:not(:last-child) {
    border-bottom: solid 1px #ddd;
}
@media (max-width: 767px) {
    header .container .main-nav > li:last-child .mega-menu .links:first-of-type li:last-child {
        border-bottom: solid 1px #ddd;
    }
}
header .container .main-nav > li:last-child .mega-menu .links li a {
    display: block;
    padding: 10px;
    color: var(--main-color);
    min-width: 227px;
}
header .container .main-nav > li:last-child .mega-menu .links li a i {
    margin-right: 10px;
}
/* End Header */

/* Start landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    z-index: -1;
    background-color: var(--secendry-color);
    transform:skewY(-6deg);
    transform-origin:  top left;
}
.landing .container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
}
.landing .container .text {
    flex: 1;
}
@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
    }
}
.landing .container .text h1 {
    letter-spacing: -2px;
    margin: 0;
}
@media (max-width: 767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }
    
}
.landing .container .text p {
    line-height: 2;
}
@media (max-width: 767px) {
    .landing .container .text p {
        font-size: 16px;
        margin: 10px auto;
    }
}
.landing .container .image img {
    width: 600px;
    animation: up-and-down 2s infinite;
}
@media (max-width: 991px) {
    .landing .container .image {
        display: none;
    }
}
.landing .container .go-down {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 15px);
    transition: var(--main-transition);
    -webkit-animation: up-down infinite;
    animation: bouncing 1.5s infinite;
    color: var(--main-color);
}
/* End landing */

/* Start articles */
.articles {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .container .box {
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    overflow: hidden;
    transition: var(--main-transition);
}
.articles .container .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .box img {
    width: 100%;
}
.articles .container .box .content {
    padding: 20px;
    border-bottom: solid 1px var(--main-background-hover);
}
.articles .container .box .content h3 {
    margin: 0;
}
.articles .container .box .content p {
    color: #777;
    line-height: 1.6;
    margin: 10px 0 0;
}
.articles .container .box .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.articles .container .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.articles .container .box .info i {
    color: var(--main-color);
    transition: var(--main-transition);
}
.articles .container .box:hover .info i {
    animation: arow .5s infinite;
}
/* End articles */

/* Start gallery */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secendry-color);
    position: relative;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box .image {
    overflow: hidden;
    position: relative;
}
.gallery .container .box .image::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: rgb(255 255 255 / 20%);
    z-index: 2;
}
.gallery .container .box:hover .image::before {
    animation: flashing .5s;
}
.gallery .container .box .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .container .box:hover .image img {
    transform: scale(1.2) rotate(6deg);
}
/* End gallery */

/* Start features */
.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: white;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box {
    text-align: center;
    border: solid 1px #ccc;
}
.features .box .img-holder {
    position: relative;
    overflow: hidden;
}
.features .box .img-holder::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 50%);
}
.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 50%);
}
.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 50%);
}
.features .box .img-holder::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    border-width: 153px 482px 0px 0px;
    border-color: transparent white transparent;
    border-style: solid;
    transition: var(--main-transition);
}
.features .box:hover .img-holder::after {
    left: 0;
    border-width: 152px 0px 0px 482px;
    border-color: transparent white transparent;
}
.features .box .img-holder img {
    max-width: 100%;
}
.features .box h2 {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}
.features .box h2::before {
    position: absolute;
    content: "";
    width: calc(100% - 30px);
    height: 5px;
    bottom: -15px;
    left: 15px;
}
.features .quality h2::before {
    background-color: rgb(244,64,54);
}
.features .time h2::before {
    background-color: rgb(0,150,136);
}
.features .passion h2::before {
    background-color: rgb(3,169,244);
}
.features .box p {
    color: gray;
    margin: 60px 0 50px;
    padding: 15px;
    line-height: 2;
}
.features .box a {
    display: block;
    border: solid 3px;
    width: fit-content;
    margin: 0 auto 40px;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 6px;
    transition: var(--main-transition);
    position: relative;
}
.features .quality a {
    color: rgb(244,64,54);
    border-color: rgb(244,64,54);
    background: linear-gradient(to right, rgb(244,64,54) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .time a {
    color: rgb(0,150,136);
    border-color: rgb(0,150,136);
    background: linear-gradient(to right, rgb(0,150,136) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .passion a {
    color: rgb(3,169,244);
    border-color: rgb(3,169,244);
    background: linear-gradient(to right, rgb(3,169,244) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a {
    background-position: left bottom;
    color: white;
}
/* End features */

/* Start testimonials */
.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--secendry-color);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.testimonials .container .box {
    position: relative;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}
.testimonials .box img {
    position: absolute;
    background-color: var(--secendry-color);
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    height:  100px;
    top: -30px;
    right: -5px;
}
.testimonials .box h3 {
    margin: 0 0 10px;
}
.testimonials .box .job {
    display: block;
    margin: 0 0 10px;
    color: #777;
}
.testimonials .box .filled {
    color: #ffc107;
}
.testimonials .box p {
    margin: 10px 0 0;
    color: #777;
}
/* End testimonials */

/* Start team memebers */
.team {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.team .box {
    position: relative;
    padding-top: 60px;
}
.team .box::before,
.team .box::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box::before {
    width: calc(100% - 60px);
    background-color: #f3f3f3;
    z-index: -2;
}
.team .box::after {
    background-color: #e4e4e4;
    width: 0;
    z-index: -1;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box .data {
    display: flex;
}
.team  .data img {
    max-width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team  .box:hover img {
    filter: grayscale(100%);
}
.team  .data .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    gap: 20px;
}
.team .social i {
    color: #777;
    transition: var(--main-transition);
}
.team .social i:hover {
    color: var(--main-color);
}
.team .box  .info {
    padding: 20px 60px 20px 80px;
}
.team .box  .info h3 {
    margin: 0 0 10px;
    color: var(--main-color);
}
.team .box:hover  .info h3 {
    color: #777;
}
.team .box  .info p {
    margin: 0;
}
/* End team memebers */

/* Start services */
.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--secendry-color);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box {
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
        0 2px 4px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
    counter-increment: services;
    transition: var(--main-transition);
}
.services .container .box::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.services .container .box:hover {
    transform: translateY(-10px);
}
.services .container .box:hover::before {
    width: 100%;
}
.services .box i {
    display: block;
    text-align: center;
    margin: 30px auto 20px;
    color: #d5d5d5;
}
.services .box h3 {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    color: var(--main-color);
    margin: 20px auto 40px;
}
.services .box .info {
    background-color: #f9f9f9;
    padding: 15px;
    position: relative;
    text-align: right;
}
.services .box .info::before,
.services .box .info::after {
    position: absolute;
    height: 100%;
    top: 0;
    left: -15px;
}
.services .box .info::before {
    content: "0" counter(services);
    background-color: var(--main-color);
    width: 100px;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.services .box .info::after {
    content: "";
    background-color: #d5d5d5;
    width: 50px;
    transform: skewX(-25deg);
    left: 85px;
}
.services .info a {
    text-transform: capitalize;
    color: var(--main-color);
}
/* End services */

/* Start our skills */
.our-skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.our-skills .container {
    display: flex;
}
.our-skills .skills {
    flex: 1;
}
@media (max-width: 991px) {
    .our-skills .container img {
        display: none;
    }
}
.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skills h3 span {
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    color: var(--main-color);
}
.our-skills .skill .progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}
.our-skills .progress span {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
}
/* End our skills */

/* Start how it works */
.how-it-works {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--secendry-color);
}
.how-it-works .container {
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .how-it-works .container {
        flex-direction: column;
    }
}
.how-it-works .container > img {
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width: 991px) {
    .how-it-works .container > img {
        margin: 0 0 30px;
    }
}
.how-it-works .container .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.how-it-works .container .box {
    display: flex;
    align-items: center;
    background-color:#f6f5f5;
    padding: 30px;
    border: solid 2px white;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}
@media (max-width: 767px) {
    .how-it-works .container .box {
        padding: 15px;
        flex-direction: column;
    }
    .how-it-works .box .text {
        text-align: center;
    }
}
.how-it-works .container .box::before {
    position: absolute;
    content: "";
    background-color: #ededed;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--main-transition);
    z-index: -1;
}
.how-it-works .container .box:hover::before {
    width: 100%;
    height: 100%;
}
.how-it-works .box img {
    width: 70px;
    margin-right: 30px;
}
@media (max-width: 767px) {
    .how-it-works .box img {
        margin: 0 0 20px;
    }
}
.how-it-works .box h3 {
    margin: 0 0 20px;
    text-transform: capitalize;
    font-size: 22px;
}
.how-it-works .box p {
    margin: 20px 0 0;
    color: #959595;
    line-height: 1.6;
    font-size: 18px;
}
/* End how it works */

/* Start latest events */
.latest-events {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.latest-events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.latest-events .container img {
    max-width: 445px;
}
@media (max-width: 991px) {
    .latest-events .container img {
        display: none;
    }
}
.latest-events .container .info {
    flex: 1;
    text-align: center;
}
.latest-events .info .time {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.latest-events .time .unit {
    border: solid 1px #d4d4d4;
    text-align: center;
    border-radius: 6px;
    transition: var(--main-transition);
}
.latest-events .time .unit:hover {
    border-color: var(--main-color-alt);
}
.latest-events .unit span {
    display: block;
    transition: var(--main-transition);
}
.latest-events .unit span:first-child {
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
}
.latest-events .unit span:last-child {
    border-top: solid 1px #d4d4d4;
    font-size: 13px;
    padding: 8px 10px;
}
.latest-events .unit:hover span:last-child {
    border-color: var(--main-color-alt);
}
.latest-events .info h3 {
    font-size: 30px;
}
.latest-events .info p {
    line-height: 1.6;
    color: #777;
}
.latest-events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}
.latest-events .subscribe form {
    display: flex;
    width: 600px;
    margin: auto;
    background: #f6f5f5;
    padding: 30px 40px;
    border-radius: 50px;
    justify-content: space-between;
    gap: 20px;
}
@media (max-width: 767px) {
    .latest-events .subscribe form {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        border-radius: 0;
    }
}
.latest-events .subscribe input[type=email] {
    border-radius: 50px;
    border: none;
    padding: 20px;
    flex: 1;
}
@media (max-width: 767px) {
    .latest-events .subscribe input[type=email] {
        border-radius: 0;
    }
}
.latest-events .subscribe input[type=submit] {
    border-radius: 50px;
    border: none;
    padding: 20px;
    color: white;
    background-color: var(--main-color);
} 
@media (max-width: 767px) {
    .latest-events .subscribe input[type=submit] {
        border-radius: 0;
    }
}
/* End latest events */

/* Start pricing */
.pricing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--secendry-color);
}
.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing .container .box {
    background-color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);

}
.pricing .container .box::before,
.pricing .container .box::after {
    position: absolute;
    content: "";
    height: 50%;
    transition: var(--main-transition);
    width: 0;
    background-color: #f6f6f6;
    z-index: -1;
}
.pricing .container .box::before {
    top: 0;
    left: 0;
}
.pricing .container .box::after {
    bottom: 0;
    right: 0;
}
.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
    width: 100%;
}
@media (min-width: 1199px) {
    .pricing .container .box.popular {
        transform: translateY(-20px);
    }
}
.pricing .container .box.popular .label {
    position: absolute;
    writing-mode:vertical-rl;
    background-color: var(--main-color);
    right: 20px;
    top: 0;
    padding: 10px 10px 35px 10px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
.pricing .container .box.popular .label::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 117px;
    left: 0;
    border: 22px solid;
    border-color: transparent transparent white transparent;
}
.pricing .box .title {
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0;
}
.pricing .box img {
    width: 100px;
    margin-bottom: 30px;
}
.pricing .box .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.pricing .price .amount {
    display: block;
    color: var(--main-color);
    font-weight: bold;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.pricing .price .time {
    color: #777;
    text-transform: capitalize;
}
.pricing .box ul {
    text-align: left;
}
.pricing .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .box a {
    display: block;
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
    padding: 15px 20px;
    border: 2px solid var(--main-color);
    width: fit-content;
    margin: 40px auto ;
    border-radius: 6px;
    transition: var(--main-transition);
}
.pricing .box a:hover {
    background-color: var(--main-color);
    color: white;
}
/* End pricing */

/* Start videos */
.videos {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.videos .holder {
    display: flex;
    background-color: var(--secendry-color);
    border: 1px solid #ddd;
}
@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}
.videos .holder .list {
    min-width: 300px;
    background-color: white;
}
.videos .list .name {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
    font-weight: bold;
}
.videos .list li {
    padding: 20px;
    text-transform: capitalize;
    transition: var(--main-transition);
    border-top: 1px solid #ddd;
    cursor: pointer;
}
.videos .list li:hover {
    color: var(--main-color);
    background-color: #f4f4f4;
}
.videos li span {
    display: block;
    color: #777;
    margin-top: 10px;
}
.videos .holder .preview {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos .preview img {
    max-width: 100%;
}
.videos .preview .info {
    background-color: white;
    padding: 20px;
    text-transform: capitalize;
}
/* End videos */

/* Start stats */
.stats {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-image: url(../imgs/stats.jpg);
    background-position: cover;
}
.stats::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 90%);
}
.stats .title {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.stats .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.stats .box {
    position: relative;
    padding: 30px 15px;
    background-color: white;
    text-align: center;
    overflow: hidden;
}
.stats .box::before,
.stats .box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.stats .box::before {
    right: 0;
    bottom: 100%;
}
.stats .box::after {
    left: 0;
    top: 100%;
}
.stats .box:hover::after {
    top: 0;
}
.stats .box:hover::before {
    bottom: 0;
}
.stats .box .number {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 50px;
}
.stats .box .text {
    display: block;
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
}
/* End stats */

/* Start discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .content {
    padding: 0 20px;
    text-align: center;
}
.discount .content h2 {
    text-transform: capitalize;
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p {
    line-height: 1.6;
    max-width: 500px;
    font-size: 18px;

}
.discount .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    flex-basis: 50%;
    background-image: url(../imgs/discount-background1.jpg);
    z-index: 1;
}
@media (max-width: 767px) {
    .discount .image {
        flex-basis: 100%;
    }
}
.discount .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33,150,243, 90%);
    z-index: -1;
}
.discount .image img {
    width: 300px;
    max-width: 100%;
}
.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-bottom: 50px;
}
@media (max-width: 767px) {
    .discount .form {
        flex-basis: 100%;
    }
}
.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    background: #f9f9f9;
    border-bottom: solid 1px #ccc;
}
.discount .form textarea.input {
    height: 200px;
    resize: none;
}
.discount .form input[type="submit"] {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    background: var(--main-color);
    color: white;
    border: none;
}
.discount .form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End discount */

/* Start footer*/
footer {
    padding-top: 70px;
    background-color: #191919;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .box {
    color: var(--secendry-color);
}
footer .box:first-child h3 {
    color: white;
    font-size: 45px;
    margin: 0 0 20px;
}
footer .box:first-child ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
footer .box:first-child a {
    color: var(--secendry-color);
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    transition: var(--main-transition);
}
footer .box:first-child a.facebook:hover {
    background-color: #1877f2;
}
footer .box:first-child a.twitter:hover {
    background-color: #1da1f2;
}
footer .box:first-child a.youtube:hover {
    background-color: #ff0000;
}
footer .box:first-child p {
    line-height: 2;
}
footer .box:nth-child(2) li a {
    display: block;
    color: var(--secendry-color);
    padding: 15px 15px 15px 0;
    position: relative;
    transition: var(--main-transition);
}
footer .box:nth-child(2) li a:hover {
    transform: translateX(15px);
    color: white;
}
footer .box:nth-child(2) li:not(:last-child) {
    border-bottom: 1px solid #444;
}
footer .box:nth-child(2) li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    color: var(--main-color);
    margin-right: 10px;
}
footer .box:nth-child(3) .line {
    display: flex;
    gap: 15px;
    align-items: center;
}
@media (max-width: 767px) {
    footer .box:nth-child(3) .line {
        flex-direction: column;
        text-align: center;
    }
}
footer .box:nth-child(3) .line i {
    color: var(--main-color);
}
footer .box:nth-child(3) .line div {
    width: fit-content;
}
footer .box:nth-child(3) .line span {
    display: block;
}
footer .box:nth-child(3) .line:not(:last-child) {
    margin-bottom: 30px;
}
footer .box.footer-gallery img {
    width: 78px;
    border: solid 3px white;
}
footer .copy-right {
    margin: 0;
    text-align: center;
    color: white;
    padding: 25px 0;
    border-top: 1px solid #444;
    margin-top: 50px;
}
/* End footer*/

/* Start animation */
@keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40%, 60% {
        transform: translateY(-10px);
    }
}
@keyframes up-and-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
    }
    100% {
        left: 0;
        height: 100%;
        width: 50%;
        border-radius: 0;
        top: 0;
        transform: translateY(0);
    }
}
@keyframes right-move {
    50% {
        right: 0;
    }
    100% {
        right: 0;
        height: 100%;
        width: 50%;
        border-radius: 0;
        top: 0;
        transform: translateY(0);
    }
}
@keyframes arow {
    100% {
        transform: translateX(50%);
    }
}
@keyframes flashing {
    100% {
        width: 200%;
        height: 200%;
    }
}
/* End animation */